body {
  font-family: 'Futura', sans-serif;
}

#mosaic {
  margin-top: -120px;
}

#text-heading {
  margin-top: 100px;
  color: white;
}

#title {
  font-size: 3.6rem;
}

#subtitle {
  margin-top: -20px;
  font-size: 3rem;
}

/* Centered text to overlay US mosaic */
.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile {
  width: 250px;
  height: 250px;
}

#red-line {
  height: 40px;
}

#blue-line {
  height: 40px;
}

/* Media Queries */
@media screen and (min-width: 318px) and (max-width: 373px) {
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.5rem;
  }

  #mosaic {
    margin-top: -100px;
  }

  #text-heading {
    margin-top: 130px;
    margin-bottom: -180px;
    color: #212529;
  }

  #title {
    font-size: 1.85rem;
  }

  #subtitle {
    margin-top: 0;
    font-size: 1.8rem;
  }

  .text-overlay {
    position: relative;
    display: flex;
    text-align: center;
  }

  .profile {
    width: 180px;
    height: 180px;
  }

  #red-line {
    height: 20px;
  }
  
  #blue-line {
    height: 20px;
    overflow: hidden;
  }
}

@media screen and (min-width: 374px) and (max-width: 413px) {
  h2 {
    font-size: 1.8rem;
  }
  
  h3 {
    font-size: 1.8rem;
  }

  #mosaic {
    margin-top: -100px;
  }

  #text-heading {
    margin-top: 150px;
    margin-bottom: -160px;
    color: #212529;
  }

  #title {
    font-size: 2rem;
  }

  #subtitle {
    margin-top: 0;
    font-size: 1.95rem;
  }

  .text-overlay {
    position: relative;
    display: flex;
    text-align: center;
  }

  .profile {
    width: 180px;
    height: 180px;
  }

  #red-line {
    height: 20px;
  }
  
  #blue-line {
    height: 20px;
    overflow: hidden;
  }
}

@media screen and (min-width: 414px) and (max-width: 767px) {
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 2rem;
  }

  #mosaic {
    margin-top: -100px;
  }

  #text-heading {
    margin-top: 170px;
    margin-bottom: -160px;
    color: #212529;
  }

  #title {
    font-size: 2.4rem;
  }

  #subtitle {
    margin-top: 0;
    font-size: 2.2rem;
  }

  .text-overlay {
    position: relative;
    display: flex;
    text-align: center;
  }

  .profile {
    width: 180px;
    height: 180px;
  }

  #red-line {
    height: 20px;
  }
  
  #blue-line {
    height: 20px;
    overflow: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  h2 {
    margin-top: -8px;
  }

  h4 {
    font-size: 1.2rem;
  }

  #mosaic {
    margin-top: -80px;
  }

  #text-heading {
    margin-top: 20px;
  }

  #title {
    margin-top: -10px;
  }
}